*{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.div{
    width: 52vh;
    height: 22vh;
    background: pink;
}
.div__ol{
    padding-top: 1px;
    padding-left: 15px;
    list-style-position: inside;
    align-items: center;
}
span{
    background: rgb(147, 40, 67);
    align-items: center;
    padding: 4px;
}
li{
    width: 49vh;
    height: 3vh;
    color: #fff;
    margin-top: 10px;
    margin-right: 30px;
    background: palevioletred;
    align-items: center;
    line-height: 30px;
}
